{% extends 'calendarApp/base.html' %}
{% block content %}
<div class="container form-group">
    <br />
    <button onclick="window.location='{% url 'index' %}'" class="btn-success">Go Back</button>
    <br />
    <br />
    <h1>Add New Event</h1>
    <form method="POST">
    {% csrf_token %}
    {% for field in form %}
        {{ field.errors }}
        <label>{{ field.label }}</label>
        <input name="{{ field.name }}" class="form-control" />
        <hr />
    {% endfor %}
    <br />
    <button class="btn-success" type="submit">Create</button>
    </form>
</div>
{% endblock %}