{% extends 'calendarApp/base.html' %}
{% block content %}
<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-4">
            <h1>Event Calendar</h1>
        </div>
        <div class="col-lg-8">
            <button onclick="window.location='{% url 'add' %}'" type="button" class="btn-success">Add Event</button>
        </div>
    </div>
    <hr />
    <div class="row">
        {% for entry in entries %}
            {% include 'calendarApp/calendarEntry.html' %}
        {%  endfor %}
            <br />
    </div>
</div>
{% endblock %}